
@using EPiServer.Personalization.VisitorGroups
@inherits System.Web.Mvc.WebViewPage<PulsePersonalizationApp.Models.PulseSocialSegmentModel>

<div>
    @Html.DojoEditorFor(x => x.SegmentId)
</div>

<div id='description'></div>
