<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="epijpg" path="*.jpg" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
      <add name="epipng" path="*.png" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
      <add name="epigif" path="*.gif" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
      <add name="epicss" path="*.css" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
      <add name="epijs" path="*.js" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
      <add name="epieot" path="*.eot" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
      <add name="episvg" path="*.svg" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
      <add name="epittf" path="*.ttf" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
      <add name="epiwoff" path="*.woff" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
      <add name="epiwoff2" path="*.woff2" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
      <add name="BlockDirectAccessToModuleZip" path="PulsePersonalizationApp.zip" verb="*" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>