<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="PulsePersonalizationApp" clientResourceRelativePath="" tags="EPiServerModulePackage" viewEngine="Razor">
  <assemblies>
    <add assembly="PulsePersonalizationApp" />
  </assemblies>

  <clientResources>
    <add name="PulseHelper" path="ClientResources/Scripts/Editors/PulseHelper.js" resourceType="Script"/>
  </clientResources>

  <clientModule>
    <requiredResources>
      <add name="PulseHelper" />
    </requiredResources>
  </clientModule>
</module>
